/build/
/out/
/dist/
/.obs-sdk/
/installer/windows/payload/
/.vs/
/.vscode/
/.idea/
CMakeUserPresets.json
*.user
*.suo
*.VC.db
*.VC.VC.opendb
*.obj
*.pdb
*.ilk
*.exe
*.dll
*.lib
*.exp
*.log
.DS_Store
Thumbs.db
